Please make sure that the data files are located in the folder "season_1/training_data/order_data/". Then run all the cells.

In [1]:
import pandas as pd
from os import walk

"""import the order datas into a dataframe""" 

# Use path to data files.
order_path = "season_2/training_data/order_data/" 
_, _, filenames = next(walk(order_path), (None, None, []))

mSeq = len(filenames)
frame = pd.DataFrame()
list_ = []
print filenames

['order_data_2016-01-01', 'order_data_2016-01-02', 'order_data_2016-01-03', 'order_data_2016-01-04', 'order_data_2016-01-05', 'order_data_2016-01-06', 'order_data_2016-01-07', 'order_data_2016-01-08', 'order_data_2016-01-09', 'order_data_2016-01-10', 'order_data_2016-01-11', 'order_data_2016-01-12', 'order_data_2016-01-13', 'order_data_2016-01-14', 'order_data_2016-01-15', 'order_data_2016-01-16', 'order_data_2016-01-17', 'order_data_2016-01-18', 'order_data_2016-01-19', 'order_data_2016-01-20', 'order_data_2016-01-21']

In [3]:
# Uncomment these lines to import all the data 
for i in range(mSeq-1):
    # White Space as Delim, import all the data file.
    df = pd.read_csv(str(order_path) + filenames[i+1],  delim_whitespace = 1, dtype = str, header = None) 
    list_.append(df)

orders= pd.concat(list_)

# Only import the data of the first day
# orders = pd.read_csv(str(order_path) + filenames[1], delim_whitespace = 1, dtype = str,  header = None)

In [4]:

# Only import the data of the first day
# orders = pd.read_csv(str(order_path) + filenames[1], delim_whitespace = 1, dtype = str,  header = None) 

# Rename all the columns.
orders.columns = ['order_id', 'driver_id', 'passenger_id', 
                  'start_district_hash', 'dest_district_hash', 
                  'price', 'date', 'time']
# Convert the Date and Time column in orders from an object to a datetime value. 
# This makes it easier to work with as a date.
# Extract the year and month from from date_time, and assign them to their own columns.
orders['datetime'] = pd.to_datetime(orders['date'] + ' ' + orders['time'])
orders = orders.drop('date', 1)
orders = orders.drop('time', 1)
orders['day'] = orders["datetime"].dt.day
# Every 10 minutes is considered as a time slot. It can be calculated by following fomula
orders['time_slot'] = orders["datetime"].dt.hour*6 + orders["datetime"].dt.minute//10

In [5]:
"""Categorize the start and destination with its id in """

# Import the hash id into a dictionary
cluster_path = "season_2/training_data/cluster_map/"
cluster = {}
with open(cluster_path + "cluster_map") as f:
    for line in f:
       (key, val) = line.split()
       cluster[str(key)] = val
        
# Update the start and destination district ID
orders['start_district_id'] = orders['start_district_hash'].map(cluster)
orders['dest_district_id'] = orders['dest_district_hash'].map(cluster)

In [6]:
# Take a look at the data. The number of the data collected in each district
# is not evenly distributed. District 51 can be considered as a high occupancied
# zone. We're more likely to dig into this kind of areas.
# Also, interstingly there are more orders in from 12am to 1am, which is not expected.
# Probably because of in this period there are still demands but not enough taxis or 
# other public transportation.

print(orders["start_district_id"].value_counts())
print(orders["time_slot"].value_counts())

51    1215703
23     724035
8      706466
48     518647
28     473581
1      418848
7      394201
37     373459
46     319435
20     263257
12     261927
24     216688
14     214434
21     188375
42     177359
27     157682
4      133162
19     123860
22      96254
26      95761
25      81960
9       76012
29      59258
11      55322
36      54060
2       49432
6       42375
54      39032
35      33547
57      32064
       ...
39      22637
47      21857
41      20135
16      20084
34      19159
18      18752
33      17309
40      15565
17      13801
56      11125
45      10454
58       7993
5        7678
10       7412
3        7314
59       6441
49       6376
32       6150
65       5849
30       5797
61       4998
43       4503
55       4004
50       3942
44       3102
52       3064
60       2912
62       1485
63       1173
15       1143
Name: start_district_id, dtype: int64
49     139557
51     139421
48     132998
52     132301
105    131759
50     131642
108    119419
106    118067
102    115897
104    110829
47     109834
103    109128
109    108987
107    108841
53     103774
110     98264
101     93024
46      92220
54      91255
111     90334
55      87205
126     85588
99      84111
127     84021
100     83381
112     82688
123     81536
128     80362
98      80010
113     79099
        ...
9       12921
10      12069
11      11130
12      10893
13      10300
38       9174
14       9156
15       8323
16       7621
37       7466
17       7076
36       6906
18       6670
19       5918
20       5394
21       5260
35       5004
22       4746
23       4629
24       4541
34       4498
25       4148
33       4143
26       4021
32       3999
27       3971
28       3849
31       3704
29       3534
30       3460
Name: time_slot, dtype: int64

In [7]:
# Now try to generate the gap data. We're looking for the orders which were not answered by a driver.
# Hence we extract the orders with missing driver and count the number of them in each distrct and time slot.
# The number of the not answered orders should be the gap we're looking for

gaporders = orders[pd.isnull(orders['driver_id'])]
gap = pd.DataFrame({'gap' : gaporders.groupby( ['day', 'start_district_id', 'time_slot'] ).size()}).reset_index()
gap['key'] = gap.day.astype(str).str.cat(gap.start_district_id.astype(str), sep='_').str.cat(gap.time_slot.astype(str), sep='_')
gap["district_id"] = gap['start_district_id']

In [8]:
# Create a new DataFrame to save the useful information
time_slot = pd.DataFrame({'stat' : orders.groupby(["time_slot"]).size()})
szone = pd.DataFrame({'stat' : orders.groupby(["start_district_id"]).size()})
ezone = pd.DataFrame({'stat' : orders.groupby(["dest_district_id"]).size()})
day = pd.DataFrame({'stat' : orders.groupby(["day"]).size()})
print (len(time_slot),len(szone), len(ezone), len(day))
in_d = pd.DataFrame(columns=['day', 'start_district_id', 'time_slot',"gap"])
n = 1
for d in day.index.values:    
    date = d
    print('day: '+ str(d))
    for z in szone.index.values:
        start = z
        for t in time_slot.index.values:
            time = t
            in_d.loc[n]=[date, start, time, 0.0]
            n+=1

(144, 66, 66, 20)
day: 2
day: 3
day: 4
day: 5
day: 6
day: 7
day: 8
day: 9
day: 10
day: 11
day: 12
day: 13
day: 14
day: 15
day: 16
day: 17
day: 18
day: 19
day: 20
day: 21

In [13]:
in_d

        day start_district_id  time_slot  gap
1         2                 1          0    0
2         2                 1          1    0
3         2                 1          2    0
4         2                 1          3    0
5         2                 1          4    0
6         2                 1          5    0
7         2                 1          6    0
8         2                 1          7    0
9         2                 1          8    0
10        2                 1          9    0
11        2                 1         10    0
12        2                 1         11    0
13        2                 1         12    0
14        2                 1         13    0
15        2                 1         14    0
16        2                 1         15    0
17        2                 1         16    0
18        2                 1         17    0
19        2                 1         18    0
20        2                 1         19    0
21        2                 1         20    0
22        2                 1         21    0
23        2                 1         22    0
24        2                 1         23    0
25        2                 1         24    0
26        2                 1         25    0
27        2                 1         26    0
28        2                 1         27    0
29        2                 1         28    0
30        2                 1         29    0
...     ...               ...        ...  ...
190051   21                 9        114    0
190052   21                 9        115    0
190053   21                 9        116    0
190054   21                 9        117    0
190055   21                 9        118    0
190056   21                 9        119    0
190057   21                 9        120    0
190058   21                 9        121    0
190059   21                 9        122    0
190060   21                 9        123    0
190061   21                 9        124    0
190062   21                 9        125    0
190063   21                 9        126    0
190064   21                 9        127    0
190065   21                 9        128    0
190066   21                 9        129    0
190067   21                 9        130    0
190068   21                 9        131    0
190069   21                 9        132    0
190070   21                 9        133    0
190071   21                 9        134    0
190072   21                 9        135    0
190073   21                 9        136    0
190074   21                 9        137    0
190075   21                 9        138    0
190076   21                 9        139    0
190077   21                 9        140    0
190078   21                 9        141    0
190079   21                 9        142    0
190080   21                 9        143    0

[190080 rows x 4 columns]

In [14]:
# Create a new column called key which combines day, start district id and time slot. 
in_d['key'] = in_d["day"]
in_d['key'] = in_d.day.astype(int).astype(str).str.cat(in_d.start_district_id.astype(str), sep='_').str.cat(in_d.time_slot.astype(int).astype(str), sep='_')
in_d["district_id"] = in_d["start_district_id"]

In [15]:
# Generate demand, supply and future supply (which depends on the destination of each order). Our naive model 
# will be based on these variables. Future supply will be an interesting attribute to dig in,

demand = pd.DataFrame({'demand' : orders.groupby( ['day', 'start_district_id', 'time_slot'] ).size()}).reset_index()
supply = pd.DataFrame({'demand' : orders.groupby( ['day', 'driver_id', 'time_slot'] ).size()}).reset_index()
fsupply = pd.DataFrame({'future_supply' : orders.groupby( ['day', 'dest_district_id', 'time_slot'] ).size()}).reset_index()
demand["district_id"] = demand['start_district_id']
fsupply["district_id"] = fsupply['dest_district_id']

In [16]:
# fill in the table with the information generated.

def join_value(left, right, key):
    left['key'] = left.day.astype(int).astype(str).str.cat(left.district_id.astype(int).astype(str), sep='_').str.cat(left.time_slot.astype(int).astype(str), sep='_')
    right['key'] = right.day.astype(int).astype(str).str.cat(right.district_id.astype(int).astype(str), sep='_').str.cat(right.time_slot.astype(int).astype(str), sep='_')
    left_a = left.set_index(key)
    right_a = right.set_index(key)

    res = left_a.loc[:, left_a.columns.union(right_a.columns)]
    res.update(right_a)
    return res

res = join_value(in_d, gap, "key")
res = join_value(res, demand, "key")
res = join_value(res, fsupply, "key")
res["time"] = res["time_slot"]/144*24
res.drop(["dest_district_id", "start_district_id"], axis=1,inplace=True) 
res["supply"] = res["demand"]-res["gap"]

print (res.sort_values(["gap"], ascending=False))

NameError: name 'np' is not defined

In [19]:
import numpy as np
temp_est = np.append(res["gap"][1:].as_matrix(),res["gap"][len(gap)-1])
res["gap_next"] = temp_est

In [53]:
res.loc()

,L1,L2,L3,L4,day,demand,district_id,fri,future_supply,gap,...,gap_slot,mon,sat,sun,supply,thu,time,time_slot,tue,wed
key,,,,,,,,,,,,,,,,,,,,,
2_1_0,NaN,NaN,NaN,NaN,2,88,1,False,62,3,...,0,False,True,False,85,False,0.000000,0,False,False
2_1_1,1309,244,93,76,2,97,1,False,52,7,...,1,False,True,False,90,False,0.166667,1,False,False
2_1_2,1274,196,59,46,2,75,1,False,53,5,...,1,False,True,False,70,False,0.333333,2,False,False
2_1_3,1197,213,67,45,2,60,1,False,50,2,...,0,False,True,False,58,False,0.500000,3,False,False
2_1_4,1236,189,36,51,2,72,1,False,52,7,...,1,False,True,False,65,False,0.666667,4,False,False
2_1_5,1197,184,35,47,2,86,1,False,54,18,...,3,False,True,False,68,False,0.833333,5,False,False
2_1_6,1269,179,32,39,2,59,1,False,32,5,...,1,False,True,False,54,False,1.000000,6,False,False
2_1_7,1217,140,61,37,2,44,1,False,23,2,...,0,False,True,False,42,False,1.166667,7,False,False
2_1_8,1189,127,46,50,2,42,1,False,33,1,...,0,False,True,False,41,False,1.333333,8,False,False
2_1_9,1119,157,36,37,2,38,1,False,28,4,...,0,False,True,False,34,False,1.500000,9,False,False
2_1_10,1154,156,51,35,2,45,1,False,31,7,...,1,False,True,False,38,False,1.666667,10,False,False
2_1_11,1065,151,40,30,2,38,1,False,18,4,...,0,False,True,False,34,False,1.833333,11,False,False
2_1_12,1065,120,33,26,2,41,1,False,24,9,...,1,False,True,False,32,False,2.000000,12,False,False
2_1_13,1001,133,34,32,2,33,1,False,20,5,...,1,False,True,False,28,False,2.166667,13,False,False
2_1_14,929,171,50,47,2,20,1,False,17,2,...,0,False,True,False,18,False,2.333333,14,False,False
2_1_15,981,133,39,50,2,24,1,False,18,0,...,0,False,True,False,24,False,2.500000,15,False,False
2_1_16,1000,132,37,38,2,27,1,False,13,2,...,0,False,True,False,25,False,2.666667,16,False,False
2_1_17,922,135,38,32,2,28,1,False,19,5,...,1,False,True,False,23,False,2.833333,17,False,False
2_1_18,889,103,35,39,2,19,1,False,12,2,...,0,False,True,False,17,False,3.000000,18,False,False
2_1_19,827,89,34,23,2,14,1,False,7,2,...,0,False,True,False,12,False,3.166667,19,False,False
2_1_20,858,97,25,31,2,17,1,False,11,1,...,0,False,True,False,16,False,3.333333,20,False,False
2_1_21,793,71,24,39,2,8,1,False,14,1,...,0,False,True,False,7,False,3.500000,21,False,False
2_1_22,767,80,26,21,2,11,1,False,12,2,...,0,False,True,False,9,False,3.666667,22,False,False
2_1_23,628,87,37,34,2,15,1,False,12,10,...,2,False,True,False,5,False,3.833333,23,False,False
2_1_24,748,111,30,43,2,7,1,False,7,0,...,0,False,True,False,7,False,4.000000,24,False,False
2_1_25,784,75,34,42,2,5,1,False,4,0,...,0,False,True,False,5,False,4.166667,25,False,False
2_1_26,718,95,39,32,2,12,1,False,7,0,...,0,False,True,False,12,False,4.333333,26,False,False
2_1_27,736,101,38,30,2,4,1,False,1,0,...,0,False,True,False,4,False,4.500000,27,False,False
2_1_28,685,73,30,16,2,6,1,False,3,0,...,0,False,True,False,6,False,4.666667,28,False,False
2_1_29,684,106,41,23,2,12,1,False,5,3,...,0,False,True,False,9,False,4.833333,29,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21_9_114,685,153,30,34,21,40,9,False,38,1,...,0,False,False,False,39,False,19.000000,114,False,False
21_9_115,633,153,49,27,21,46,9,False,28,1,...,0,False,False,False,45,False,19.166667,115,False,False
21_9_116,635,192,54,39,21,36,9,False,30,0,...,0,False,False,False,36,False,19.333333,116,False,False
21_9_117,654,155,62,26,21,33,9,False,32,1,...,0,False,False,False,32,False,19.500000,117,False,False
21_9_118,739,133,53,27,21,33,9,False,40,2,...,0,False,False,False,31,False,19.666667,118,False,False
21_9_119,679,143,50,29,21,38,9,False,29,2,...,0,False,False,False,36,False,19.833333,119,False,False
21_9_120,650,132,45,29,21,48,9,False,24,1,...,0,False,False,False,47,False,20.000000,120,False,False
21_9_121,600,160,36,40,21,36,9,False,25,0,...,0,False,False,False,36,False,20.166667,121,False,False
21_9_122,619,140,49,18,21,42,9,False,25,3,...,0,False,False,False,39,False,20.333333,122,False,False
21_9_123,658,135,46,38,21,38,9,False,33,3,...,0,False,False,False,35,False,20.500000,123,False,False
21_9_124,667,147,43,17,21,46,9,False,39,4,...,0,False,False,False,42,False,20.666667,124,False,False
21_9_125,656,97,41,27,21,48,9,False,33,5,...,1,False,False,False,43,False,20.833333,125,False,False
21_9_126,618,140,48,22,21,32,9,False,33,3,...,0,False,False,False,29,False,21.000000,126,False,False
21_9_127,625,118,45,42,21,26,9,False,29,1,...,0,False,False,False,25,False,21.166667,127,False,False
21_9_128,677,110,27,24,21,37,9,False,25,2,...,0,False,False,False,35,False,21.333333,128,False,False
21_9_129,601,114,39,19,21,46,9,False,35,6,...,1,False,False,False,40,False,21.500000,129,False,False
21_9_130,624,128,46,26,21,40,9,False,35,2,...,0,False,False,False,38,False,21.666667,130,False,False
21_9_131,630,102,20,39,21,33,9,False,22,1,...,0,False,False,False,32,False,21.833333,131,False,False
21_9_132,649,143,37,24,21,39,9,False,22,2,...,0,False,False,False,37,False,22.000000,132,False,False
21_9_133,629,97,33,35,21,37,9,False,30,2,...,0,False,False,False,35,False,22.166667,133,False,False
21_9_134,607,108,43,25,21,29,9,False,16,3,...,0,False,False,False,26,False,22.333333,134,False,False
21_9_135,586,101,24,17,21,32,9,False,25,3,...,0,False,False,False,29,False,22.500000,135,False,False
21_9_136,622,113,33,41,21,31,9,False,14,0,...,0,False,False,False,31,False,22.666667,136,False,False
21_9_137,613,107,29,25,21,19,9,False,16,0,...,0,False,False,False,19,False,22.833333,137,False,False
21_9_138,593,90,31,24,21,21,9,False,12,1,...,0,False,False,False,20,False,23.000000,138,False,False
21_9_139,541,84,36,18,21,17,9,False,13,2,...,0,False,False,False,15,False,23.166667,139,False,False
21_9_140,496,85,35,19,21,22,9,False,18,6,...,1,False,False,False,16,False,23.333333,140,False,False
21_9_141,547,104,23,10,21,17,9,False,10,1,...,0,False,False,False,16,False,23.500000,141,False,False
21_9_142,592,64,31,15,21,15,9,False,12,4,...,0,False,False,False,11,False,23.666667,142,False,False
21_9_143,542,83,23,18,21,6,9,False,9,0,...,0,False,False,False,6,False,23.833333,143,False,False

In [35]:
# Use path to data files.
traffic_path = "C:\\Users\\danny\\Di-Tech\\season_2\\training_data\\traffic_data\\" 
_, _, filenames = next(walk(traffic_path), (None, None, []))

mSeq = len(filenames)
frame = pd.DataFrame()
list_ = []
print filenames
# Uncomment these lines to import all the data 
for i in range(mSeq-1):
    # White Space as Delim, import all the data file.
    df = pd.read_csv(str(traffic_path) + filenames[i+1],  delim_whitespace = 1, dtype = str, header = None) 
    list_.append(df)

traffic = pd.concat(list_)

# Only import the data of the first day
# orders = pd.read_csv(str(order_path) + filenames[1], delim_whitespace = 1, dtype = str,  header = None) 
# Rename all the columns.
traffic.columns = ['district_hash', 'L1', 'L2', 
                  'L3', 'L4', 
                  'date',"time"]
# Convert the Date and Time column in orders from an object to a datetime value. 
# This makes it easier to work with as a date.
# Extract the year and month from from date_time, and assign them to their own columns.
traffic['datetime'] = pd.to_datetime(traffic['date'] + ' ' + traffic['time'])
traffic = traffic.drop('date', 1)
traffic = traffic.drop('time', 1)
traffic['day'] = traffic["datetime"].dt.day
# Every 10 minutes is considered as a time slot. It can be calculated by following fomula
traffic['time_slot'] = traffic["datetime"].dt.hour*6 + traffic["datetime"].dt.minute//10

"""Categorize the start and destination with its id in """

# Import the hash id into a dictionary
cluster_path = "season_2/training_data/cluster_map/"
cluster = {}
with open(cluster_path + "cluster_map") as f:
    for line in f:
       (key, val) = line.split()
       cluster[str(key)] = val
        
# Update the start and destination district ID
trafficL1 = traffic["L1"].str.split(":", expand=True)
traffic['district_id'] = traffic['district_hash'].map(cluster)
traffic["key"]=traffic.day.astype(str).str.cat(traffic.district_id.astype(str), sep='_').str.cat(traffic.time_slot.astype(str), sep='_')
trafficdf = traffic[["key","district_id", "day","time_slot"]]
trafficdf.loc[:,"L1"]=traffic["L1"].str.split(":", expand=True)[1]
trafficdf.loc[:,"L2"]=traffic["L2"].str.split(":", expand=True)[1]
trafficdf.loc[:,"L3"]=traffic["L3"].str.split(":", expand=True)[1]
trafficdf.loc[:,"L4"]=traffic["L4"].str.split(":", expand=True)[1]

['traffic_data_2016-01-01', 'traffic_data_2016-01-02', 'traffic_data_2016-01-03', 'traffic_data_2016-01-04', 'traffic_data_2016-01-05', 'traffic_data_2016-01-06', 'traffic_data_2016-01-07', 'traffic_data_2016-01-08', 'traffic_data_2016-01-09', 'traffic_data_2016-01-10', 'traffic_data_2016-01-11', 'traffic_data_2016-01-12', 'traffic_data_2016-01-13', 'traffic_data_2016-01-14', 'traffic_data_2016-01-15', 'traffic_data_2016-01-16', 'traffic_data_2016-01-17', 'traffic_data_2016-01-18', 'traffic_data_2016-01-19', 'traffic_data_2016-01-20', 'traffic_data_2016-01-21']

C:\Users\danny\Anaconda2\lib\site-packages\pandas\core\indexing.py:266: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\danny\Anaconda2\lib\site-packages\pandas\core\indexing.py:426: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [36]:
trafficdf

            key district_id  day  time_slot    L1   L2  L3  L4
0      2_66_141          66    2        141   225   44   2   5
1       2_66_55          66    2         55   321   65   7  16
2      2_64_131          64    2        131   519   69  21   7
3       2_64_38          64    2         38   237   20  11   8
4        2_64_5          64    2          5   480   40  13   8
5       2_64_83          64    2         83   478  105  34   7
6       2_2_104           2    2        104   596  196  27  23
7        2_2_19           2    2         19   495   25  11  15
8        2_2_56           2    2         56   667  108  23  15
9       2_15_24          15    2         24    10    0   0   0
10      2_15_69          15    2         69    16    0   0   0
11      2_5_117           5    2        117   127   13   7   0
12       2_5_41           5    2         41    70    3   2   0
13       2_5_78           5    2         78   153   11   7   0
14     2_16_125          16    2        125   310   47  13  23
15      2_16_13          16    2         13   134   13   1   0
16      2_16_95          16    2         95   364   68  22  26
17      2_6_133           6    2        133   358   73  29  14
18       2_6_30           6    2         30   206   18   4   5
19       2_6_67           6    2         67   332   29  20   5
20     2_41_120          41    2        120   262   26   5   3
21      2_41_45          41    2         45   245   29   7   7
22      2_41_90          41    2         90   279   39  12   7
23     2_49_128          49    2        128   205   17   2   6
24      2_49_34          49    2         34    66    6   0   2
25      2_49_79          49    2         79   149   27   6   4
26     2_30_107          30    2        107   210   31   2   3
27      2_30_40          30    2         40    50    3   7   1
28      2_30_77          30    2         77   199   32   8   7
29     2_38_115          38    2        115   327  112  16  24
...         ...         ...  ...        ...   ...  ...  ..  ..
9256    21_21_4          21   21          4   532   57  20  28
9257   21_21_82          21   21         82   786  126  40  31
9258  21_29_128          29   21        128   777  258  49  21
9259   21_29_54          29   21         54   678  234  43  24
9260  21_31_117          31   21        117   644   69  18  21
9261   21_31_16          31   21         16   332   16   4  11
9262   21_31_61          31   21         61   615   63  10  14
9263   21_31_98          31   21         98   654   69  29   9
9264  21_22_125          22   21        125   786  192  47  32
9265   21_22_33          22   21         33   266   34  12  12
9266  21_36_133          36   21        133   303   43  15   9
9267   21_36_50          36   21         50   410   51  11  14
9268   21_36_87          36   21         87   382   31   8   6
9269  21_56_141          56   21        141   166   15   2   8
9270   21_56_22          56   21         22    34    3   0   5
9271  21_62_104          62   21        104    20    8   2   0
9272   21_62_39          62   21         39     6    4   0   0
9273   21_62_76          62   21         76    33   16   0   2
9274  21_39_120          39   21        120   140    4   8   6
9275   21_39_65          39   21         65   208   16   5   7
9276  21_27_124          27   21        124  1511  284  72  54
9277   21_27_41          27   21         41  1000  192  23  43
9278   21_27_78          27   21         78  1495  329  66  56
9279  21_44_132          44   21        132   118   10   0   0
9280   21_44_13          44   21         13    44   10   4   2
9281   21_44_95          44   21         95    67    2   0   1
9282  21_32_140          32   21        140   140    8   1   3
9283   21_32_30          32   21         30    44    0   2   2
9284   21_32_67          32   21         67   113    2   3   1
9285    21_32_7          32   21          7    83    5   3   0

[184264 rows x 8 columns]

In [43]:
res = join_value(res, trafficdf, "key")

C:\Users\danny\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [46]:
res.to_csv("train_traffic.csv")

In [45]:
res['fri'] = res['day']==1
res['sat'] = res['day']==2
res['sun'] = res['day']==3
res['mon'] = res['day']==4
res['tue'] = res['day']==5
res['wed'] = res['day']==6
res['thu'] = res['day']==7

res['gap_slot'] = res['gap']
res['gap_max'] = 100
res['gap_slot'] = res[['gap_slot', 'gap_max']].min(axis=1)
res['gap_slot'] = res['gap_slot']//5

In [47]:
input = pd.DataFrame(res[['day', 'district_id', 'gap', 'time_slot',"L1","L2","L3","L4"]])
output = pd.DataFrame(res[['day', 'time_slot', 'gap', 'gap_slot',"L1","L2","L3","L4"]])

input = input.drop(input[input.time_slot == 143].index)
output = output.drop(output[output.time_slot == 0].index)
time_slot_dummies = pd.get_dummies(input['time_slot'])
for i in range(142):
    input['time_slot_'+str(i)] = time_slot_dummies[float(i)]
district_dummies = pd.get_dummies(input['district_id'])
for i in range(65):
    input['district_id_'+str(i+1)] = district_dummies[str(i+1)]
input['fri'] = input['day']==1
input['sat'] = input['day']==2
input['sun'] = input['day']==3
input['mon'] = input['day']==4
input['tue'] = input['day']==5
input['wed'] = input['day']==6
input.drop('district_id', axis=1, inplace=True)
input.drop('time_slot', axis=1, inplace=True)

In [ ]:
input

In [ ]:
output

In [48]:
# Convert the data we need into np array for training network
import numpy as np
train_x = input.as_matrix().astype(float)
train_y = output['gap'].as_matrix().astype(float)
train_y_class = output['gap_slot'].as_matrix().astype(float)

In [49]:
float(input.iloc[[1]]['gap'])-float(input.iloc[[0]]['gap'])

4.0

### Export the np array and dataframe as txt for future convenience

In [50]:
print(train_x.shape, train_y.shape, train_y_class.shape)

((188760L, 219L), (188760L,), (188760L,))

In [51]:
np.savetxt('train_x.txt', train_x, fmt='%.18e', delimiter=' ', newline='\n', header='', footer='', comments='# ')
np.savetxt('train_y.txt', train_y, fmt='%.18e', delimiter=' ', newline='\n', header='', footer='', comments='# ')
np.savetxt('train_y_class.txt', train_y_class, fmt='%.18e', delimiter=' ', newline='\n', header='', footer='', comments='# ')

In [52]:
res.to_csv('res.txt', sep = ' ')
input.to_csv('input.txt', sep=' ')
output.to_csv('output.txt', sep=' ')

### Direct read the modified dataframe from csv

In [ ]:
res = pd.read_csv('res.txt',  delim_whitespace = 1,) 
input = pd.read_csv('input.txt',  delim_whitespace = 1,) 
output = pd.read_csv('output.txt',  delim_whitespace = 1,)

In [ ]:
input.drop('key', axis=1, inplace=True)
output.drop('key', axis=1, inplace=True)